[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "==2.8.4"
django-crispy-forms = "==1.8.0"
django-allauth = "==0.42"
pillow = "==6.2.1"
stripe = "==2.32.0"
django-debug-toolbar = "==2.2"

[dev-packages]

[requires]
python_version = "3.8"
